body {
  background-color: #00BDAA;
}
h1{
  color: #F1E7B6;
}

h3{
  color: #F1E7B6;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 2.5px;
  width: 5%;
}
